/* 英語用のスタイル */
:lang(en) {
  font-family: 'Nunito', sans-serif;
}

/* 日本語用のスタイル */
:lang(ja) {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-family: 'Nunito', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .05em;
  color: #4c4c4c;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

a:focus, button:focus {
  outline: 3px solid #51a7f9 !important;
  background-color: rgba(255, 255, 0, 0.3); /* フォーカス時に背景色を変更して強調 */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}



.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 88px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #4c4c4c;

}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #4c4c4c;
  font-weight: 800;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 20px;
  font-weight: 800;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #4c4c4c;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #4c4c4c;
}

.gnav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
}

.mv-container {
  position: relative; /* 子要素の絶対位置指定の基準点となる */
  padding: 0 20px;
}

.mv-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* 回転アニメーション */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 点滅アニメーション */
@keyframes flash {
  0%, 57.14% { /* 0% から 57.14% は約4秒間、全体の7秒の内 */
    background-color: #88b08e; /* 通常の色 */
  }
  57.14%, 100% { /* 57.14% から 100% は残りの約3秒間 */
    background-color: rgba(0, 123, 142, 0.5); /* 半透明の色 */
  }
}

.button-container {
  position: absolute; /* 絶対位置指定 */
  top: 21%;
  left: 38%;
  transform: translate(-50%, -50%);/* コンテナをその中心から左上に50%ずつ移動する */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-btn {
  display: flex; /* Flexbox を使用して中央揃えを行う */
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  background-color: #88b08e;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストシャドウを追加 */
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;/* 内容がはみ出た場合に非表示にする */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center;/* 水平方向の中央揃え */
  border-radius:25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: rotate 12s infinite linear, flash 7s infinite linear; /* 2つのアニメーションをカンマで区切る */
}

.new-buttons {
  position: absolute;
  top: 0; /* mv-containerの上端に配置 */
  left: 50%;  /* 中央揃えのために左端から50%の位置に設定 */
  transform: translateX(-50%);  /* X軸方向に-50%移動して中央揃えに */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* コンテナの幅を設定 */
  min-height: 130px;
  z-index: 100; /*要素を前面に持ってくる */
}

.button-1 {
  position: absolute;
  top: 32%;
  left: 51%;
  transform: translateX(-50%);
  width: 27%;
  height: 75px;
  font-size: 16px;
  padding: 10px;
}

.button-2 {
  position: absolute;
  bottom: 27%;
  left: 40%;
  width: 12%;
  height: 40px;
  font-size: 12px;
  padding: 10px;
}

.new-btn {
  border: none;
  border-radius:25px;
  border: solid 0.5px #4c4c4c;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
  cursor: pointer;
  z-index: 100;
  transition: all 0.2s;
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: 600;
  text-align: center;
  display: block;
	white-space: nowrap;
  background-color: rgba(0, 123, 142, 0.7); 
}

.btn-text {
  color: white;
  font-size: 24px;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7), 0 0 6px rgba(255, 255, 255, 0.7);
}


/* マウスオーバー時のスタイル */
.new-btn:hover {
  background: red;
  color: #fff;
  font-weight: 600;
}

.new-btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* 中央に配置 */
  transition: opacity 0.5s ease;
}

.new-btn span:nth-child(2) {
  opacity: 0; /* 最初は非表示に */
}

.new-btn:hover span:nth-child(1) {
  opacity: 0; /* ホバー時に非表示に */
}

.new-btn:hover span:nth-child(2) {
  opacity: 1; /* ホバー時に表示 */
}



/*--------------------------------
 Works
---------------------------------*/
#works {
  background-color: rgba(211, 184, 140, 0.2);/*ベースカラーのベージュのカラーコード;*/
  padding: 60px 0;
}

.works {
  margin-top: 30px;
}

.works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.works-item {
  margin: 20px;
  padding: 20px;
  color: #4c4c4c;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
}

/* アクセシビリティ向上のためのスタイル */
.works-item:focus-within,
a:focus,
button:focus {
  outline: 3px solid #51a7f9; /* フォーカス時の明確なアウトライン */
  outline-offset: 3px; /* アウトラインのオフセット */
}

.works-item:hover, a:hover, button:hover {
  opacity: .9;
  background-color: rgba(136, 176, 142, 0.3); /* 指定された背景色に変更 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.works-img img {
  width: 100%;
  object-fit: contain;
  box-shadow: none;
}

.works-name {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 8px;
}

.works-info {
  font-size: 14px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  color: #333;
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
}

/*--------------------------------
 About
---------------------------------*/
#about {
  background-color: rgba(211, 184, 140, 0.2);
}

.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 25%;
  margin-right: 30px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 30px;

}
.profile-img img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.profile-img h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-img p {
  font-size: 14px;
  margin-bottom: 5px;
}

.profile-body {
  flex: 1;
  align-self: center; /* テキストブロックをFlexコンテナの中央に配置 */
  margin-bottom: 40px;
}

.profile-body p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 600px;
  text-align: justify; /* テキストを両端揃えにする場合 */
  margin-bottom: 20px;
}

.profile-body p:not(:last-child) {
  margin-bottom: 20px;
}

/* 最後のパラグラフは下マージンを0にする場合 */
.profile-body p:last-child {
  margin-bottom: 0;
}

.profile-img, .profile-body {
  align-self: center; /* 画像とテキストブロックをそれぞれ中央に配置 */
}

.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}
/*--------------------------------
 Contact
---------------------------------*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}

.contact-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.contact p {
  margin: 0;
  text-align: center;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body img {
  width: 100%;
  height: auto;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #4c4c4c;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 40vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }
  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    top: 75%;
    font-size: 14px;
    line-height: 1.7;
  }

  @media only screen and (max-width: 414px) {
    .scroll-btn {
      width: 100px;
      height: 20px;
      font-size: 6.5px;
    }
  }

  @media only screen and (max-width: 768px) {
    .button-1 {
      position: absolute;
      top: 10%; /* モバイル画面サイズに合わせて位置を調整 */
      left: 50%; /* 中央揃えのために左端から50%の位置に設定 */
      transform: translateX(-50%); /* X軸方向に-50%移動して中央揃えに */
      width: 27%; /* 幅をそのまま27%に保持 */
      height: auto; /* 高さを自動調整 */
    }
  
    .button-2 {
      position: absolute;
      bottom: 10%; /* モバイル画面サイズに合わせて位置を調整 */
      left: 50%; /* 中央揃えのために左端から50%の位置に設定 */
      transform: translateX(-50%); /* X軸方向に-50%移動して中央揃えに */
      width: 80%; /* モバイル画面サイズに合わせて幅を調整 */
      height: auto; /* 高さを自動調整 */
    }
  }
  
  @media only screen and (max-width: 414px) {
    .button-1 {
      top: 35%; 
      height: 30px;
    }
  
    .button-2 {
      width: 11%;
      bottom: 25%; 
      left: 46%;
    }
  }

  .new-btn {
    font-size: 8px;
  }

  .btn-text {
    font-size: 12px;
  }
  
  

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}



